[Unit]
Description=ImageViewer Kiosk - a framebuffer image viewer for raspberry pi
After=basic.target

[Install]
WantedBy=multi-user.target

[Service]
User={USER}
WorkingDirectory=/home/{USER}
Type=simple
Restart=on-failure
ExecStart=/home/{USER}/imvi/bin/python3 -m imvi
