[Unit]
Description=ImageViewer Kiosk - a framebuffer image viewer for raspberry pi
After=basic.target

[Install]
WantedBy=multi-user.target

[Service]
User=luke
WorkingDirectory=/home/luke
Type=simple
Restart=on-failure
StandardInput=tty
StandardOutput=tty
ExecStart=/home/luke/imvi/bin/python3 -m imvi
